<div class="container">
	<div class="col-md-12 text-center">
			<h1>What We Do</h1>
			<p>We are a hub for businesses in the Miami area - specifically, the Wynwood and surrounding neighborhoods. Stay local, support local, and let's grow our community together!</p>

	</div>

<hr>

<div class="col-md-4">
		<img class="img-responsive img-center" src="http://i.imgur.com/FUxKUAu.jpg?2" alt="Matthew Roche">
		<h3><a href="https://www.linkedin.com/in/matthewjasonroche">Matthew Roche</a></h3>
</div>
<div class="col-md-4">
		<img class="img-responsive img-center" src="http://i.imgur.com/DyRBx0Y.jpg?2" alt="Giancarlo Franchini">
		<h3><a href="https://www.linkedin.com/pub/giancarlo-franchini/7a/719/1">Giancarlo Franchini</a></h3>
</div>
<div class="col-md-4">
		<img class="img-responsive img-center" src="http://i.imgur.com/VMSWUhc.jpg?2" alt="Stefanie Knapp">
		<h3><a href="https://www.linkedin.com/pub/stefanie-knapp/90/207/603">Stefanie Knapp</a></h3>
</div>

<div class="col-md-12 text-center">
	<h2>Contact Us</h2>
	<address>
		<strong>WYNLIST</strong>
		<br>400 NW 26th Street
		<br>Miami, FL 33127
		<br>
	</address>
	<address>
		<abbr title="Phone">P:</abbr>(305) 389-6153
		<br>
		<abbr title="Email">E:</abbr> <a href="mailto:contact@wynlist.com">contact@wynlist.com</a>
	</address>
	
</div>
