<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content=""> 

	<title>Wynlist - About - Contact</title>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="css/business-frontpage.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

      </head>

      <!-- Page Content -->
      <div class="container">

      	<hr>

      	<div class="row">
      		<div class="col-sm-8">
      			<h2>What We Do</h2>
      			<p>We are a hub for businesses in the Miami area - specifically, the Wynwood and surrounding neighborhoods. Stay local, support local, and let's grow our community together!</p>

      			<p>
      		</div>
<!--                     <a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
-->                </p>
</div>
<div class="col-sm-4">
	<h2>Contact Us</h2>
	<address>
		<strong>WYNLIST</strong>
		<br>400 NW 26th Street
		<br>Miami, FL 33127
		<br>
	</address>
	<address>
		<abbr title="Phone">P:</abbr>(305) 389-6153
		<br>
		<abbr title="Email">E:</abbr> <a href="mailto:#">contact@wynlist.com</a>
	</address>
</div>
</div>
<!-- /.row -->

<hr>

<div class="row">
	<div class="col-sm-3">
		<img class="img-circle img-responsive img-center" src="http://i.imgur.com/FUxKUAu.jpg?2" alt="Matthew Roche">
		<h2><a href="https://www.linkedin.com/in/matthewjasonroche">Matthew Roche</a></h2>
	</div>
	<div class="col-sm-3">
		<img class="img-circle img-responsive img-center" src="http://i.imgur.com/DyRBx0Y.jpg?2" alt="Giancarlo Franchini">
		<h2><a href="https://www.linkedin.com/pub/giancarlo-franchini/7a/719/1">Giancarlo Franchini</a></h2>
	</div>
	<div class="col-sm-3">
		<img class="img-circle img-responsive img-center" src="http://i.imgur.com/VMSWUhc.jpg?2" alt="Stefanie Knapp">
		<h2><a href="https://www.linkedin.com/pub/stefanie-knapp/90/207/603">Stefanie Knapp</a></h2>
	</div>
</div>
        <!-- /.row -->