<!--<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>-->

<div class="container">
	<div ="text-center">
		<h1>Please click below to access our company directory.</h1>
		<center><a href="./companies/" class="btn btn-info" role="button">Company Directory</a></center>
	</div>

</div>