#cssmenu{
  text-align:center;
  float:center;
}

body > div.col-md-12.text-center {
  font-size: 50px;
}

#myCarousel > div.carousel-inner > div > div > div > h1 > img {

  height: 170px;
  border-radius: 10%;
  border: 3px solid black;

}

#myCarousel > div.carousel-inner > div > img {
    margin-top: 50px;
    width: 900px;
    height: 350px;
    border: 2px solid black;
}

#myCarousel > div.well > div > center > a > img {
  border: 1px solid black; 
}

#myCarousel > div.well > div {
  height: 350px;
}

body > div.container > table > tbody > tr:nth-child(n) > td:nth-child(n) > img {
  
  height: 40px;
  border: 1px solid black;
  margin-top: 10px; 
}

body > div.container > table > tbody > tr:nth-child(n) > td:nth-child(2) {
  width: 120px;
  padding-top: 20px;
}

body > div.container > table > tbody > tr:nth-child(n) > td:nth-child(3) {
  width: 120px;
  padding-top: 20px;
}

body > div.container > table > tbody > tr:nth-child(n) > td:nth-child(4) {
  padding-top: 20px;
}

body > div.container > table > tbody > tr:nth-child(n) > td:nth-child(5) {
  padding-top: 20px;
}

body > div.container > table > tbody > tr:nth-child(1) > td:nth-child(6) {
  width: 160px;
}


body > div.container > table > tbody > tr:nth-child(n) > td:nth-child(6) > img {
  width: 160px;
  height: 30px;
  margin-top: 5px;
}

 body > div.container > table > tbody > tr:nth-child(n) > td:nth-child(7) {
  padding-top: 20px;
  width: 150px;
}
#new_review > div.container > div:nth-child(1) > label {
  margin-right: 375px;
}

#new_review > div.container > div:nth-child(2) {
  margin-right: 375px;
}

#review_coment {
  margin-right: 375px;
}