=/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  */
  body {
  	text-align: center;
    float: center;
  }

  body h1{
  	font-size: 4em;
    text-align: center;
  }

  table { 
  	min-height: 20em; 
  	font-size: 1.5em;
  	float: center;
  	margin: auto;
  	padding: 0.25em;
  }

  table th{
  	font-size: 1em;
  	margin: auto;
  	padding: 1em;
  }

  tr { 
  	font-size: 1.5em;
  	float: center;
  }

  tbody{
  	font-size: 1.5em;
  	margin: auto;
  	text-align: center;
  }

  tbody td{
  	padding: 1em;
  	font-size: 0.35em;
  }