<!DOCTYPE html>
<html>
<head>
  <title>Wynlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id='cssmenu'>
  <ul>
     <li class='active'><a href='/'><span>Home</span></a></li>
     <li><a href='#'><span>Products</span></a></li>
     <li><a href='../companies/'><span>Companies</span></a></li>
     <li class='last'><a href='../static_pages/contact'><span>Contact</span></a></li>
  </ul>
  </div>

  <h1 class="wynlist"> Wynlist </h1>

<%= yield %>

</body>
</html>
